body {
     background: #f99; 
     padding: 0px;
     margin: 0px;
     padding-right: 10em;
     padding-left: 10em;
     font-family: Georgia, 'Times New Roman', Times, serif;
    }
h1{
    margin: 0;
}
main{
    margin: 0;
    width: 85%;
    float: right;
    box-sizing: border-box;
    /* border-color: black;
    border-style: solid; */
    border-spacing: 3px;
}
nav{
    width: 15%;
    float: left;
}

.navigation-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .6);
}
.navigation-bar>a{
    border:inherit 1px;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    padding: 8px;
    transition: all 250ms ease-in-out;
    transition-delay: 250ms;
    transition-timing-function: ease-in-out;
}
.navigation-bar>a:hover{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 2px;
}
